huggingface_hub>=0.30.1
accelerate
torch>=2.6.0
transformers==4.46.3
sentencepiece
torchvision
gradio>=5.24.0
bitsandbytes>=0.46.1
psutil
# Optional: For GPU utilization and temperature monitoring
nvidia-ml-py>=12.535.161
